
body{
   padding:30px;
   font-family: Inter,sans-serif;

}

.contacts{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding:20px;
    height:180px;
   
}

.class-card{

border:4px solid rgb(236, 229, 229);
width:250px;
padding-left:10px;
padding-top:10px;
padding-bottom:30px;
border-radius:9px;
display: flex;
flex-direction: column;


}

.Group-info{
   display: grid;
   grid-template-columns: 30px 1fr;
   grid-template-rows: auto auto;
   row-gap:14px;
   column-gap:10px;
   align-items: center;
   gap:8px;
}

.catimage{
    width:240px;
    height:240px;
    object-fit: cover;
   border-radius:5px;
}

